<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melot.talkee.dao.AdminInfoMapper">
  <resultMap id="BaseResultMap" type="com.melot.talkee.driver.domain.AdminInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="en_nickname" jdbcType="VARCHAR" property="enNickname" />
    <result column="cn_nickname" jdbcType="VARCHAR" property="cnNickname" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="tag" jdbcType="INTEGER" property="tag" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, en_nickname, cn_nickname, last_login_time, last_login_ip, admin_id, add_time, 
    tag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from info_user_admin
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectAdminInfoByAdminId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select aid as user_id
    from admin_info
    where aid = #{adminId,jdbcType=INTEGER}
  </select>


  <select id="selectByAdminId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select

    from info_user_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from info_user_admin
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.melot.talkee.driver.domain.AdminInfo">
    insert into info_user_admin (user_id, en_nickname, cn_nickname, 
      last_login_time, last_login_ip, admin_id, 
      add_time, tag)
    values (#{userId,jdbcType=INTEGER}, #{enNickname,jdbcType=VARCHAR}, #{cnNickname,jdbcType=VARCHAR}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR}, #{adminId,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{tag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.melot.talkee.driver.domain.AdminInfo">
    insert into info_user_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="enNickname != null">
        en_nickname,
      </if>
      <if test="cnNickname != null">
        cn_nickname,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="lastLoginIp != null">
        last_login_ip,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="tag != null">
        tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="enNickname != null">
        #{enNickname,jdbcType=VARCHAR},
      </if>
      <if test="cnNickname != null">
        #{cnNickname,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.melot.talkee.driver.domain.AdminInfo">
    update info_user_admin
    <set>
      <if test="enNickname != null">
        en_nickname = #{enNickname,jdbcType=VARCHAR},
      </if>
      <if test="cnNickname != null">
        cn_nickname = #{cnNickname,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.melot.talkee.driver.domain.AdminInfo">
    update info_user_admin
    set en_nickname = #{enNickname,jdbcType=VARCHAR},
      cn_nickname = #{cnNickname,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      tag = #{tag,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>



</mapper>